/*global*/
body{
    font-family:'lato', sans-serif;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
p{
    text-align: justify;
    line-height: 2;
}
h1,h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
/*utilities*/
.btn{
    display: block;
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.btn-small{
    width: 150px;
    font-size: 14px;
}
.btn:first-child(odd){
    color: black;
    border-left: 5px solid black;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
header.site-header{
    flex-basis: 30%;
}
.my-photo
{
    width: 300px;
    margin-left:  auto;
    margin-right:  auto;
    border-radius: 50%;
    border: 10px solid orange;
    padding: 3px;
    opacity: 0.7;
    display: block;
}
/*menu*/
.menu-social{
    text-align: center;
    margin-top: 30px;
}
.menu-social i{
    font-size: 30px;
    margin-right: 20px;
}
.fa-linkedin{
    color: blue;
}
.fa-youtube{
    color: rgb(189, 1, 1);
}
.fa-researchgate{
    color: aqua;
}
/*main*/
main.site-main{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    height: 100vh;
}
.title-name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.title-name{
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(245, 184, 105);
    font-size: 22px;
}
.title-name span{
    color:rgb(245, 184, 105);
}
/*educaction*/

.box {
    background-color: #2e2e2e;

    padding: 10px;
    margin: 30px;
}
.degree-header{
    display: flex;
    align-items: center;
}
.degree-header i{
border: 2xp solid yellow;
border-radius: 50%;
padding: 10px;     
}
.box p{
    font-size: 14;
}
.degree-title{
    text-transform: uppercase;
    color: yellow;
    word-spacing: 3px;
    font-weight: 300;
}